@model IEnumerable<ToDo.Models.Task>
@{
    ViewData["Title"] = "ToDo";
}

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-12">
                <div class="card px-3">
                    <div class="card-body">
                        <h4 class="card-title">ToDo</h4>
                        <div class="add-items d-flex"> <input type="text" class="form-control todo-list-input" placeholder="O que você planejar fazer?"> <button class="add btn btn-primary font-weight-bold todo-list-add-btn">Adicionar</button> </div>
                        <div class="list-wrapper">
                            <ul class="d-flex flex-column-reverse todo-list">
                                @foreach (var item in Model) {
                                    if(item.IsComplete)
                                    {    
                                        @:<li class="completed">
                                    }
                                    else
                                    {
                                        @:<li>
                                    }
                                        <div class="form-check"> 
                                            <label class="form-check-label"> 
                                                <input class="checkbox" type="checkbox" value="@item.Id" @(item.IsComplete ? "checked" : "") >@item.Name<i class="input-helper"></i>
                                            </label> 
                                        </div> 
                                        <i class="remove mdi mdi-close-circle-outline" data-id="@item.Id"></i>
                                    @:</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
